.grille {
    border: 2px solid black;
    display: grid;
    height: 500px;
    grid-template-rows: 1fr 1fr 1fr;
    /* repeat(3 , 100px) => trois ligne de hauteur 100px */ 
    grid-template-columns: 2fr 2fr 1fr;
    gap: 10px; 
    /* gap = distance entre bloc */
    justify-content: center;
    /* alignement vertical */
    align-content: center;
    /* alignement horizontal */
}

.grille div {
    background-color: orange;
    border: 2px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item1 {
    grid-column: 1 ;
    grid-row: 1 / span 3;
}

.item2 {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.item3 {
    grid-column: 2 / span 2;
    grid-row: 2;
}

.item4 {
    grid-column: 2 / span 2;
    grid-row: 3;
}