* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    /* vw, prend un certain pourcentage de la largeur de la fenêtre*/
    height: 100vh;
    /* vh, en fonction de la hauteur */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: orange;
}

/* Ordinateur >= 901px */
@media (min-width: 901px){
    .grille {
    border: 2px solid black;
    background-color: white;
    margin: 10px;
    display: grid;
    height: 15vw;
    width: 60vw;
    grid-template-rows: 1fr 5fr;
    /* repeat(3 , 100px) => trois ligne de hauteur 100px */ 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px; 
    /* gap = distance entre bloc */
    justify-content: center;
    /* alignement vertical */
    align-content: center;
    /* alignement horizontal */
}

.grille div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item1 {
    text-align: center;
    grid-column: 1 ;
    grid-row: 1 / span 3 ;
}

.item2 {
    color: orange;
    text-align: left;
    grid-column: 2;
    grid-row: 1 ;
}

.item3 {
    text-align: center;
    grid-column: 2 ;
    grid-row: 2;
}

.item4 {
    text-align: center;
    grid-column: 2 ;
    grid-row: 3;
}

h1{
    font-size: 2vw
}

p{
    font-size: 1vw;
}

img {
    max-width: 50%;
    height: auto;
}

button{
    background-color: rgb(238, 204, 141);
    color: rgb(212, 185, 185);
}

}

/* Tablette >= 601px et <= 900px */
@media (min-width: 601px) and (max-width: 900px){
body{
    background-color: lightgreen;
    }
}

/* Mobile <= 600px */
@media (max-width: 600px){
body{
    background-color: lightseagreen;
    }
}

@media (prefers-color-scheme: dark){

}

@media (prefers-color-scheme: light){

}

@media (orientation: portrait){
    
}