.projets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-projets {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
}

.item-projets h3 {
    color: #004080;
}