.introduction {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.introduction img {
    width: 30vw;
    height: 40vh;
    border-radius: 50%;
    border: 2px solid #004080
}

.introduction p {
    max-width: 400px;
}

.galerie {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.galerie img {
    width: 25vw ;
    border-radius: 95%;
}


figure {
    border: 1px solid #ccc;
    width: 350px;
    border: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

figure img, figure video, figure audio { 
    width: auto;
    height: auto;
}

figcaption {
    text-align: center;
    background: #fafafa;
}

section h2 {
    text-align: center;
}