.parcours {
    justify-items: center;
}

th, td {
    background-color: antiquewhite;
    border: 1px solid #333;
    padding:  10px;
    text-align: center;
}

th {
    background-color: #125495;
    color: white;
}

table {
    border-collapse: collapse;
}

a {
    color: white;
    transition: color 2s ease;
}

a :hover {
    color: blue;
}