body{
    font-family: "Libre Baskerville", serif;
    background: linear-gradient(to right, hsl(34, 71%, 77%), antiquewhite );
    color: gray;
}

div {
    width: 300px;
    height: 150px;
    background: linear-gradient(45deg, rgb(179, 250, 179), rgb(96, 143, 143));
    display: flex;
    border: 5px solid black;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}

a:hover{
    color: aliceblue;
    text-decoration: none;
    transition: background-color 2s ease;
    transition; border 1s ease;
}

a:active{
    background-color: aqua;
    border: 2px solid rgb(173, 120, 173);
}

input:focus{
    border: 2px solid black;
    background-color: rosybrown;
}

button{
    background-color: rgb(238, 204, 141);
    color: rgb(212, 185, 185);
    transition: background-color 3s ease;
    transition: border 2s ease;
}

button:hover{
    background-color: rgb(216, 194, 98);
    border: 5px solid rgba(248, 89, 97, 0.137);
}